@using FakeNews.Common.StaticMethods
@model FakeNews.Database.Tables.News

@{
    ViewData["Title"] = "ریز اطلاعات خبر";
    Layout = "_AdminLayout";
}

<h1>ریز اطلاعات خبر</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainImageUri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainImageUri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeadLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeadLine)
        </dd>
        <dt class="col-sm-2">
            @Model.PublishDate.AsPersianDateTime().ToLongDateTimeString()
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Keywords)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeenCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeenCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Model.PersianCreatedOn.ToLongDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Model.PersianModifiedOn.ToLongDateString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifierId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifierId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Body)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">تغییر خبر</a> |
    <a asp-action="Index">بازگشت</a>
</div>
