@using FakeNews.Common.StaticMethods;
@model IEnumerable<FakeNews.Database.Tables.News>

@{
    ViewData["Title"] = "لیست اخبار";
}

<h1>لیست اخبار</h1>

<p>
    <a href="~/Admin/News/Create">نوشتن خبر جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianCreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keywords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeenCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImageUri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.PersianCreatedOn.ToLongDateString()
            </td>
            <td>
                @item.PublishDate.AsPersianDateTime().ToLongDateTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keywords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeenCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.TitleFa)
            </td>
            <td style="direction: ltr">
                 <a href="@item.MainImageUri" target="_blank">
                عکس
                </a>
            </td>
            <td>
                <a href="~/Admin/News/Edit?id=@item.Id">تغییر خبر</a> |
                <a href="~/Admin/News/Details?id=@item.Id">ریز اطلاعات خبر</a> |
                <a href="~/Admin/News/Delete?id=@item.Id">حذف این خبر</a>
            </td>
        </tr>
}
    </tbody>
</table>
