@page
@model FakeNews.View.Pages.NewsModel
@using FakeNews.Common.StaticMethods
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery;

@{
    Html.SetSeoInfo(seoInfo =>
                                        {
                                            seoInfo.SetArticleInfo(
                                                authorName: Model?.DesiredNews?.Author?.UserName ?? "",
                                                publishDate: Model?.DesiredNews?.PublishDate ?? DateTime.Now,
                                                authorUrl: "/Category?catId=" + (Model?.DesiredNews?.Author?.PublicId ?? Guid.Empty).ToString(),  //optional
                                                section: Model.DesiredNews?.Category?.TitleFa ?? ""
                                            );
                                        });
}
<div class="row mb-4">
    <div class="col col-10">
        <div class="row"><img src="@Model.DesiredNews.MainImageUri" alt="@Model.DesiredNews.Keywords" /></div>
        <div class="row">
            <h1>
                @Model.DesiredNews.Title
            </h1>
            <h2>
                @Model.DesiredNews.HeadLine
            </h2>
            <h3>
                نوشته شده توسط:
                @Model.DesiredNews.Author.UserName
            </h3>
            <h4>
                <span>
                    دسته بندی:
                    <a href="/Category?catId=@Model.DesiredNews.CategoryId" class="link-info">
                        @Model.DesiredNews.Category.TitleFa
                    </a>
                </span>
            </h4>
            <h5>
                @{
                    Model.DesiredNews.PublishDate.AsPersianDateTime().ToLongDateString();
                }
            </h5>
            <article>
                @Html.Raw(Model.DesiredNews.Body)
            </article>

        </div>
    </div>
    <div class="col col-2">
        @*<partial name="_SidebarAd" />*@
    </div>
</div>


<div class="row" id="comments">
    <h3 class="heading">
        <i class="far fa-comments"></i>
        @Model.Comments.Count
        دیدگاه
    </h3>
    <div class="col col-9">
        <div class="row">
            <section id="user-comments" class="card themeform">
                @{
                    foreach (var comment in Model.Comments)
                    {
                        <div class="c-comments__content-section pt-0 pb-0 mb-0 mt-0">
                            <div id="product-comment-list">
                                <div class="c-comments__list pt-0 pb-0 mb-0 mt-0">
                                    <div class="c-comments__item c-comments__item--pdp pt-0 pb-0 mb-0 mt-0">
                                        <div class="c-comments__row pt-0 pb-0 mb-0 mt-0">
                                            <span class="c-comments__title"></span>
                                        </div>
                                        <div class="c-comments__row pt-0 pb-0 mb-0 mt-0">
                                            <span class="c-comments__detail" title=@comment.SenderMail>
                                                نوشته شده توسط
                                                @comment.SenderName
                                            </span>
                                            <br />
                                            <span class="c-comments__detail">
                                                @comment.CreatedOn.AsPersianDateTime().ToShortDateString()
                                            </span>
                                            <br />
                                            <span class="c-comments__detail">
                                                متن نظر:
                                            </span>
                                        </div>
                                        <div class="c-comments__separator c-comments__separator--half"></div>
                                        <div class="c-comments__row">
                                        </div>
                                        <div class="c-comments__row c-comments__row--grow c-comments__row--comment">
                                            <div class="c-comments__content">@comment.Text</div>
                                        </div>
                                        <div class="c-comments__separator c-comments__separator--half"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    }
                }
            </section>
        </div>
    </div>
    <div class="col col-3"></div>
</div>

<div class="row">
    <form method="post">
        <input type="hidden" id="xsrfTokenId" value=@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken />
        <input type="hidden" id="newsId" value=@Model.DesiredNews.Id name="newsId" />
        <div class="row">
            <div class="col col-10">
                <div class="col col-4">
                    <label for="senderNameText" class="form-label">نام:</label>
                    <input class="form-control " type="text" id="senderNameText" name="senderNameText" placeholder="نام" required maxlength=50 />

                    <label for="senderMailText" class="form-label">ایمیل:</label>
                    <input class="form-control" type="email" id="senderMailText" name="senderMailText" placeholder="email@example.com" required maxlength=50 />
                </div>

                <div class="col col-6">
                    <label for="newCommentText" class="form-label">نظر شما:</label>
                    <textarea class="form-control" autocomplete="off" id="newCommentText" name="newCommentText" placeholder="متن نظر" required maxlength=500></textarea>
                </div>
                <div class="col col-2 mt-2">
                    <input type="submit" value="ثبت نظر" id="newCommentSubmit" class="form-control btn btn-primary" />
                </div>

            </div>
            <div class="col col-2"></div>
        </div>
    </form>
</div>