@using FakeNews.Common.Database.Enums
@using FakeNews.Database.Tables
@using FakeNews.Common.StaticMethods;
@model IEnumerable<Comment>
@section Scripts{
    <script src="~/js/Admin/Comments/index.js"></script>
}
@{
    ViewData["Title"] = "مدیریت کامنت ها";
    Layout = "_AdminLayout";
}

<h1>لیست کامنت ها</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianCreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @item.Status.GetDescription()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderName)
                </td>
                <td>
                    @item.PersianCreatedOn.ToLongDateString()
                </td>
                <td>
                    @item.PersianModifiedOn.ToLongDateString()
                </td>
                <td>
                    @if (item.Status == CommentStatus.Pending || item.Status == CommentStatus.Rejected)
                    {
                        <input type="button" class="btn btn-success operationBtn" value="تأیید" onclick="approveComment(@item.Id)" />
                    }
                    else if (item.Status == CommentStatus.Pending || item.Status == CommentStatus.Accepted)
                    {
                        <input type="button" class="btn btn-warning operationBtn" value="رد" onclick="rejectComment(@item.Id)" />
                    }

                    <input type="button" class="btn btn-danger operationBtn" value="حذف" onclick="deleteComment(@item.Id)" />
                </td>
            </tr>
        }

    </tbody>
</table>